<!DOCTYPE html>
<html lang="en">
<head>
    <title>Number Counter</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body class = "body">
    <header class = "header">The purpose of this page is to practice the integration of mongoDB, Express and Heroku. Click away!</header>

    <div class = "main">
        <form action ="/" method = "post" class = "container">
            <h1 class = "number" id="h1"><%= ejs %></h1>
            <button id = "subtract" name = "subtract" class = "btn">-</button>
            <button id = "add" name = "add" class = "btn">+</button>
        </form>

    </div>
   
    
</body>


</html>